@import "../../vars.css";

@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 130px;
  background: var(--color-bg);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  min-height: 750px;
  /* margin-top: 10px; */
  /* @media screen and (min-height: 750px) {
    height: 100%;
  } */
}

.content {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  padding-top: 10%;
  width: 50%;
}

.title {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  /* background: black;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: black;
}
.myName {
  color: var(--color-hitext);
  font-size: 62px;
  font-weight: 900;
}

.textColor {
  color: var(--color-hitext);
}

.description {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 52px;
  color: black;
}

.containerBtn {
  text-decoration: none;
  background-color: var(--color-dark);
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  padding: 17px 26px;
  transition: transform 0.5s ease;
}

.social {
  height: 30px;
  transition: transform 0.6s;
  padding-top: 50px;
  display: flex;
  gap: 20px;
}

.socialLink {
  transition: transform 0.6s;
}

.socialLink:hover {
  transform: translateY(-0.4rem);
}
.containerBtn:hover {
  box-shadow: 1px 1px 4px 1px #807094;
}
.image_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 200px;
}

.heroImg {
  width: 100%;
  z-index: 20;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.sideColor {
  position: absolute;
  background: var(--color-dark);
  z-index: 1;
  width: 40vw;
  right: -200px;
  height: 120vh;
}

.shawdow {
  position: relative;
  z-index: 100;
  width: 20vw;
  height: 2vw;
  top: calc(50% + 33vh);
  bottom: -100px;
  right: calc(50% - 26vw);
  border-radius: 50%;
  background: black;
  filter: blur(20px);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    gap: 0;
    padding: 0;
  }

  .content {
    height: 60%;
    padding-top: 10px;
    width: 80%;
    min-width: 465px;
    padding: 0 100px;
    padding-top: 20px;
  }
  .image_container {
    height: 40%;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .heroImg {
    width: 90%;
  }

  .shawdow {
    display: none;
  }
  .sideColor {
    rotate: 90deg;
    right: 0;
    bottom: -200px;
    width: 250px;
  }
  .title {
    font-size: 1.2rem;
  }
  .myName {
    font-size: 2rem;
  }
}
