/* Reusable css classes */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  display: 5rem 1rem;
}

.section__title {
  text-align: center;
}
.main {
  overflow: hidden;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.contact__container {
  padding-bottom: 4rem;
}

.contact__page {
  padding-block: 1 rem 4rem;
}

.contact__form {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__box {
  position: relative;
  width: 100%;
  height: 58px;
}
.contact__area {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(180, 179, 179);
  padding: 0.5rem 1.5rem;
  transition: border-color 0.4s, background-color 0.4s;
}

.contact__input:focus {
  border-color: var(--color-primary);
}

.contact__input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

/* .contact__label {
  position: absolute;
  top: -16px;
  left: -16px;
} */
.button {
  width: 100%;
}
