@import "../../vars.css";
.full {
  position: relative;
  background-color: var(--color-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container {
  position: relative;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}
.title {
  font-size: 45px;
  font-weight: 1000;
  letter-spacing: 1.75px;
  padding-top: 50px;
  z-index: 5;
  color: white;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;

  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin: 50px 8%; */
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.toolTitle {
  display: flex;
  /* font-family: var(--font-roboto); */
  justify-content: center;
  width: 50px;
}
.skillImageContainer {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.skillImageContainer:hover {
  animation: jumpAndBack 0.6s ease-in-out;
}

@keyframes jumpAndBack {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Jump up */
  }
}
