.container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: var(--color-bg);
}

.sectionCotainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
}

.section {
  width: 55%;
  padding-top: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3;
  /* background-color: white; */
}

.block {
  position: absolute;
  background: #008080;
  height: 100vh;
  width: 500vw;
  z-index: 1; /* Change z-index */
  top: 1050px;
  left: -200px;
  transform: rotate(10deg);
}

.title {
  color: black;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 100px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroImg {
  width: 30%;
  cursor: pointer;
  margin: 25px 60px;
  position: absolute;
  z-index: 2; /* Change z-index */
  left: 5vw;
  top: 25vh;
}

.lights {
  position: absolute;
  z-index: 4; /* Adjust z-index */
  width: 40vw;
  padding-left: 10%;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    flex-direction: column;
  }
  .heroImg {
    display: none;
  }
  .section {
    width: 80%;
  }
  .sectionCotainer {
    justify-content: center;
    margin-right: 0;
    padding-right: 10px;
  }
  .lights {
    display: none;
  }
}
@media screen and (min-width: 2150px) {
  .block {
    top: 1400px;
    left: -250px;
  }
}
@media screen and (max-width: 1150px) {
  .block {
    top: 500px;
    left: -500px;
    transform: rotate(0deg);
  }
}
