@import "../../vars.css";
.container {
  color: white;
  margin: 10% 10%;
  padding: 73px;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
}
h1 {
  margin: 20px 0;
}
.formContainer {
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.name_section {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.firstName,
.lastName {
  flex: 1;
  margin-bottom: 10px;
}

.firstName label,
.lastName label,
.firstName input,
.lastName input {
  width: 100%; /* Ensure the input and label take up the full width of their parent div */
}
.message {
  padding: 50px 0;
  margin-bottom: 20px;
}
.sendBtn {
  padding: 5px;
  background: var(--color-primary);
}

.sendBtn:hover {
  background: var(--color-secondary);
  color: white;
  cursor: pointer;
  border-color: white;
}
