@import "../../vars.css";
.wholePage {
  /* position: fixed; */
  margin-top: auto;
  background-color: var(--color-dark);
  padding-block: 3rem 2rem;
  position: relative;
  z-index: 5;
}
.footer__container {
  color: white;
  text-align: center;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer__links {
  flex-wrap: wrap;
  gap: 3rem;
}

.footer__logo {
  text-decoration: none;
  font-size: 20px;
}
.footer__link {
  text-decoration: none;
}
.footer__links {
  list-style: none;
  font-size: 16px;
}
.footer__link:hover,
.footer__logo:hover {
  text-decoration: underline;
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.footer__logo {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.footer__social img {
  height: 30px;
  transition: transform 0.6s;
}
.footer__social img:hover {
  transform: translateY(-0.4rem);
}
.lastName {
  color: rgb(77, 216, 216);
}

.footer__copy {
  font-size: 10px;
  font-weight: 500;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}
.footer__link:hover,
.footer__logo:hover {
  text-decoration: underline;
}
.contact__send {
  margin-top: 0;
  padding-top: 0;
}
@media screen and (min-width: 885px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-around;
  }

  /* .footer__container {
    column-gap: 160px;
  } */
  /* .footer__logo {
    padding-right: 20vw;
  } */
  .footer__social {
    /* padding-left: 5%;
    padding-right: 10px; */
  }

  .footer__links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  .footer__copy {
    margin-top: 50px;
    margin-bottom: 0;
  }
}
