@import "../../vars.css";

.footer__container {
  background-color: var(--color-dark);
  padding-block: 4rem 2rem;
  /* padding-top: 10px; */
  color: white;
  text-align: center;
  margin-bottom: 0;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: auto;
}

.footer__link,
.footer__logo {
  color: white;
}

.footer__links,
.footer__social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__links {
  flex-wrap: wrap;
  gap: 3rem;
}

.footer__logo {
  text-decoration: none;
  font-size: 32px;
  justify-self: center;
  /* background-color: grey; */
}
.footer__link {
  text-decoration: none;
  /* background-color: pink; */
}
.footer__links {
  list-style: none;
  font-size: 16px;
}
.footer__link:hover,
.footer__logo:hover {
  text-decoration: underline;
}

.footer__social img {
  height: 30px;
  transition: transform 0.6s;
}
.footer__social img:hover {
  transform: translateY(-0.4rem);
}

.footer__copy {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 830px) {
  .footer__container {
    flex-direction: row;
    margin-top: auto;
  }
}
