@import "../../vars.css";

.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 0px 5% 13px 3%;
  z-index: 10;
  background-color: var(--color-dark);
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  margin-right: 90px;
  margin-top: 10px;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 35px;
  list-style: none;
  padding-top: 10px;
}

.menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
}

.lastName {
  color: rgb(77, 216, 216);
}

/* Media Queries: makes the page responsive, by give different styles to the classes based on the width of the page*/
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: var(--color-dark);
    background: linear-gradient(0deg, #d9d5dd 0%, var(--color-dark) 100%);
    /* We have defined two background color because this would create a fallback solid color in case the linear gradient is not supported or fails to load. */

    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

.containerBtn {
  text-decoration: none;
  background-color: var(--color-red);
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  padding: 7px 26px;
  white-space: nowrap;
}

.containerBtn:hover {
  background: #f05812;
  cursor: pointer;
  box-shadow: 0px 4px 8px #421502;
}
