/* CSS Variables */

:root {
  /* Colors */
  --color-text: #fff;
  --color-dark: #68468a;
  --color-light: #807094;
  --color-teal: #008080;
  --color-bg: #fcfcfb;

  /* Fonts */
  --font-roboto: "Roboto";
}

/*
  This is variable css , which will make it easier to keep a constant css to the whole website 
  and we can also re-adjust it from here if later we need to from here only.
*/
