.container {
  background: none;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.currentJob {
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}
.description {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 249, 249);
  background: none;
  text-shadow: 0.5px 0.5px 0.5px #a51200;
  letter-spacing: 0.5px;
}

.listItems {
  position: relative;
}
.listItem {
  padding: 10px;

  margin-bottom: 20px;
  column-gap: 10px;
  color: #a51200;
  transition: 0.4s;
  cursor: pointer;
  background: #fcd8b6;
  transition: transform 0.2s ease-in-out;
  list-style: none;
  /* background-image: linear-gradient(
    90deg,
    #e8c547 0%,
    rgba(248, 206, 98, 0.168) 100%
  ); */
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  /* border-radius: 20px; */
}

.text_highlight {
  font-size: 32px;
}
.listItem:hover {
  cursor: pointer;
  transform: scale(1.09);
  background-size: 100% 100%;
  box-shadow: 0 0 20px rgba(252, 2, 2, 0.516);
}
